<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit comment</h1>
    <form method="POST" action="/comments/<%=comments.id%>?_method=PATCH">
        <textarea name="Comment" cols="40" rows="10">
            <%=comments.Comment%>
        </textarea>
        <button>save</button>
    </form>
</body>
</html> 