<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create new comment</h1>
    <form action="/comments" method="post">
        <section>
        <label>enter username:</label>
        <input name="username" type="text" id="username" placeholder="username">
        </section>
        <br>
        <br>
        <label>comment</label>
        <textarea name="Comment" type="text" id="Comment" rows="10" cols="40"></textarea>
        <br>
        <button type="submit">submit your comment</button>
    </form>
</body>
</html>