<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-slate-800">
        <input type="text" name="">
        <input type="text" name="">
        <a type="submit">
        <a href="/"></a>
    </div>
         
</body>
</html>