<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/editTitle">
        <input type="text"  readonly value="<%=filename%>" name="initial">
        <input type="text" value="" name="updatedTitle"> 
        <button type="submit">update your title</button>
    </form>
</body>
</html>