<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/">
    <a>
        <p>
            <%=filename%>
        </p>
    </a>

    <a>
        <p>
            <%=filedata%>
        </p>
    </a>
</form>   

    <a href="/editTitle/<%=filename%>">edit Title</a>
</body>
</html>