<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Error suscipit laboriosam rerum est dignissimos reiciendis officia alias eos voluptatum
         asperiores numquam accusamus iste in, nobis 
         quia tempore. Laborum, corrupti veniam?</p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veritatis eum quaerat enim hic reiciendis dolorum maxime ipsum totam par
        iatur! Expedita eveniet et rem ipsam qui
         dolorum minima. Fugit, ipsam?
    </p>
</body>
</html>