<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="w-full h-full bg-teal-950 px-10 py-20 ">
        <a herf="/user">create user</a>
        <h1 class="  font-bold text-4xl text-white py-10">All users</h1>
        <div class="flex gap-12 flex-wrap">
        <div class=" p-2 bg-teal-800 rounded-lg">
            <div class="w-full h-52 bg-teal-950 rounded-lg">

            </div>
            <h2>Sam</h2>
            <h3>email</h3>

            <div class="flex justify-between text-white">
                <a href="">Edit</a>
                <a href="">Delete</a>
            </div>


            <div class="w-52 p-2 bg-teal-800 rounded-lg">
                <div class="w-full h-52 bg-teal-950 rounded-lg">
    
                </div>
                <h2>Sam</h2>
                <h3>email</h3>
    
                <div class="flex justify-between text-white">
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>