<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO COMMENTS CRUD</h1>

    <div style="display: flex; flex-direction: column;">
    <a href="http://localhost:3000/comments">view comments</a>
    <a href="http://localhost:3000/comments/new">create new comments</a>
    <a href="http://localhost:3000/comments">view comments</a>
    <a href="http://localhost:3000/comments">view comments</a>
    </div>
</body>
</html>